body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  .game-area {
    position: relative;
    width: 330px; /* Aseguramos un ancho fijo */
    height: 500px;
    border: 2px solid #fff;
    overflow: hidden;
  }
  .arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  .targets {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Asegura un espaciado consistente */
    padding-top: 20px;
  }
  .target {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  #left{
    background-image: url('sprites/Targets/LeftTarget.png');
    background-size: contain;
  }
  #down{
    background-image: url('sprites/Targets/DownTarget.png');
    background-size: contain;
  }
  #up{
    background-image: url('sprites/Targets/UpTarget.png');
    background-size: contain;
  }
  #right{
    background-image: url('sprites/Targets/RightTarget.png');
    background-size: contain;
  }