body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-image: url("./sprites/Backgrounds/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-content {
  display: grid;
  grid-template-columns: 33% 33% 33%; /* izquierda, game-area, sprite */
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 40px;
}

.game-area {
  position: relative;
  width: 330px;
  height: 500px;
  border: none;
  overflow: hidden;
  margin: 0 auto;
  grid-column: 2;
}

#gameCanvas {
  display: block;
  width: 200px;
  height: 200px;
  background: transparent;
  grid-column: 3;
  align-self: center;
}

  .arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  .targets {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Asegura un espaciado consistente */
    padding-top: 20px;
  }
  .target {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  #left{
    background-image: url('sprites/Targets/LeftTarget.png');
    background-size: contain;
  }
  #down{
    background-image: url('sprites/Targets/DownTarget.png');
    background-size: contain;
  }
  #up{
    background-image: url('sprites/Targets/UpTarget.png');
    background-size: contain;
  }
  #right{
    background-image: url('sprites/Targets/RightTarget.png');
    background-size: contain;
  }